@media screen and (max-width: 85.375em) {
  body {
    width: 100%; /* Cambia el ancho del cuerpo al 100% para adaptarse al ancho de la pantalla */
    padding: 0 1em; /* Añade un espacio alrededor del cuerpo para evitar que el contenido se pegue a los bordes */
  }

  .containerImg {
    position: relative; /* Cambia la posición a relativa para que la imagen no se superponga en pantallas pequeñas */
    top: auto; /* Elimina la posición superior para que la imagen se coloque en su lugar por defecto */
    left: auto; /* Elimina la posición izquierda para que la imagen se coloque en su lugar por defecto */
    margin-top: 2.1875em; /* Añade un margen superior para separar la imagen del borde superior */
    margin-left: auto; /* Centra la imagen horizontalmente */
    margin-right: auto; /* Centra la imagen horizontalmente */
  }

  .containerImg h1 img {
    width: 100%; /* Haz que la imagen ocupe todo el ancho disponible */
    height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
  }

  /* Añade reglas de medios para los elementos que necesitan ajustes en pantallas pequeñas */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: 85.375em;
	height: 48em;
	background-color: #EBE2C6;
	font-family: 'Roboto', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.containerImg{
	position: absolute;
	top: 2.1875em;
	left: 4.6875em;
}


.containerImg h1 img{
	width: 6.25em;
	height: 6.25em;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 4.375em;
	overflow: hidden;
	
}

.carrusel{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;	
	
}

.atras img{
	width: 3.75em;	
	cursor: pointer;
}

.adelante img{
	width: 3.75em;
	cursor: pointer;
}

.imagens{
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
}

.img{
	position: relative;
	box-shadow: 0em 0.25em 0.625em 0em rgba(0, 0, 0, 0.85);
	height: 31.25em;
	width: 56.25em;
	border-radius: 0.9375rem;
	margin: 0.3125rem;
	object-fit: cover;
	filter: saturate(175%);
	display: flex;
	align-items: center;
	justify-content: right;
}

.img img{
	margin-right: 0.625rem;
	height: 30rem;
	width: 31.25rem;	
	filter: saturate(40%);
}

.texto{
	overflow: hidden;
	position: absolute;
	right: 45.875rem;
	flex-direction: column;
	transform: translateY(12.5em);
	margin-top: 0.625rem;
	backdrop-filter: blur(1.25em);
	background-color: rgba(241, 85, 84, 0.21);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1.875em;
}


.texto h2{
	text-shadow: 0rem 0rem 0.9375rem black;
	padding-top: 2.5rem;
	color: rgb(255, 255, 255);
	font-weight: 300;
	font-size: 1.6875rem;
}

.texto p{
	align-items: center;
	padding: 1.25rem;
	color: rgb(255, 255, 255);
	font-size: 0rem;
	font-weight: 300;
}

.imagens .texto{
	width: 23.75rem;
	height: 5rem;
	transition: 1s;
}

.imagens:hover .texto{
	transition: height 1s, transform 1s, background-color 1s;
	transform: translateY(1.125rem);
	height: 28.125rem;
	background-color: rgba(241, 85, 84, 0.21);
	cursor: pointer;
}

.imagens:hover .texto p{
	transition: font-size 0s .2s linear;
	font-size: 1.4375rem;
	font-weight: 300;
	text-shadow: 0rem 0rem 0.625rem #000000;
	cursor: pointer;
}


.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p{
    font-size: 6.25rem;
    font-weight: 500;
    margin-top: -3.125rem;
    color: black;
}

.puntos .bold{
    font-weight: 700;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    color: #44318D ;
}

